@charset  "UTF-8";

html {
  margin: 0;
  padding:0;
}

body {
  margin: 0;
  padding: 0;
  font-family: “Yu Gothic”, “游ゴシック”, YuGothic, “游ゴシック体”, sans-serif;
  font-weight: 500;
  color:#333;
  line-height: 2.0;
  letter-spacing: 0.1em;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','American Typewriter','ＭＳ 明朝', 'MS Mincho',sans-serif,'free';
 }

h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

a { 
  text-decoration: none; 
  transition: all .6s ease;
  color: #000;
}

a:hover { 
  transition: all .6s ease;
  opacity: 0.6;
}

.content-wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 1400px;
}

section h2 {
  font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
}

.gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  }
  .gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  }